<!--Create index from scratch via resources-->
<h1>Portfolio Items</h1>

<%= link_to "Create new item", new_portfolio_url %>
<!--manually declared partial-->
<%= render partial: 'portfolio_item', collection: @portfolio_items %>