<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/RedOctober.png', width: '120%' %>
      </div>
      <div class="col-md-9">
        <strong>Engineer-constructor</strong> - Engaged in the development of molds for the aircraft in SolidWorks.
        <p>"Red October", Heavy engineering, St. Petersburg</p>
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/garant.jpg', width: '120%' %>
      </div>
      <div class="col-md-9">
        <strong>CNC machine operator</strong> - Was engaged in plasma and oxygen cutting of metal, preparation of
        cutting for details with the subsequent control of a course of process, adjustment and service of the machine.
        <p>"Garant mechanization", Manufacture of parts and components, St. Petersburg</p>
      </div>
    </div>
  </div>
</div>
