<div class="collapse" id="courses">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/goodprogrammer.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Basics of web development, Ruby and Ruby on Rails and related technologies.
        <br>
        by <em>GoodProgrammer.ru</em>
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/udemy.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Dissecting Ruby on Rails 5 - Become a Professional Developer. <br> by <em>Jordan Hudgens</em>
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/htmlacademy.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Interactive course on Html, CSS, Javascript. <br> by
        <em>HTMLAcademy.ru</em>
      </div>
    </div>
  </div>


</div>