<div class="collapse" id="education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/sheglovo.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Sheglovskaya high school, Sheglovo village.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/polytech.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        St. Petersburg state Polytechnic University, Faculty of Automation of technological processes and productions.
      </div>
    </div>
  </div>
</div>
