<div class="collapse" id="experience">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/experience.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        <ul>I have practical experience:
          <li>- creating Web applications in Ruby, using Ruby on Rails 4/5</li>
          <li>- working with tables in PostgreSQL</li>
          <li>- work with * nix-systems at the user level</li>
          <li>- with client-side data presentation technologies (HTML5, CSS3, JavaScript)</li>
          <li>- with version control systems</li>
          <li>- development via TDD and BDD</li>
          <li>- writing modular, functional and integration tests using RSpec, Cucumber, Capybara, FactoryBot
            (formerly FactoryGirl).
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
