<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile_img.jpg', width: 200, alt: 'Profile image' %>
  </div>
  <div class="col-md-8">
    <p>Learning to code has been an arduous task but well worth the time, sacrifice and growth. I hope to attain to much
      higher levels of understanding and ability as I continue to study and learn both for you and in my personal
      time.</p>
    <p>I am always learning and am always on the lookout for new technologies that catch my interest, truly excited
      about the opportunities that lay ahead of me in
      this field and I cannot wait to see what I will build next as web developer.</p>
  </div>
</div>
