<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <hr>
  <p class="lead">The industry is rapidly developing and constantly moving forward. This is something that requires
    constant training throughout our career. This is interesting for me as there will always be new things to learn and
    new challenges to overcome.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
